<section layout='column'>
  <md-card flex>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Averages</span>
        <span class="md-subhead">Sort teams by averages</span>
      </md-card-title-text>
    </md-card-title>


    <md-tabs layout-fill md-dynamic-height md-border-bottom md-stretch-tabs="always">
      <md-tab label='Averages'>
        <md-content layout-padding>
          <table>
            <tr>
              <th style='padding: 0 1em 0 1em;' ng-click='setOrder("teamNumber")'>#</th>
              <th style='padding: 0 1em 0 1em;' ng-click='setOrder("teamName")'>Name</th>
              <th style='padding: 0 1em 0 1em;' ng-click='setOrder("avg.high")'>High</th>
              <th style='padding: 0 1em 0 1em;' ng-click='setOrder("avg.low")'>Low</th>
              <th style='padding: 0 1em 0 1em;' ng-click='setOrder("avg.breach")'>Breach</th>
              <th style='padding: 0 1em 0 1em;' ng-click='setOrder("avg.capture")'>Capture</th>
            </tr>
            <tr ng-repeat='team in _teams | orderBy:order:reverse'>
              <td align="center">
                {{team.teamNumber}}
              </td>
              <td ng-click='setPath("/team/"+team.teamNumber)'>
                {{team.teamName}}
              </td>
              <td align="center">
                {{team.avg.highR}}
              </td>
              <td align="center">
                {{team.avg.lowR}}
              </td>
              <td align="center">
                {{team.avg.breach}}
              </td>
              <td align="center">
                {{team.avg.capture}}
              </td>
            </tr>
          </table>
        </md-content>
      </md-tab>

      <md-tab label='Weighted Averages'>
       <md-content layout-padding>
          <pre>
            averages.defensive = averages.breach * 2 + averages.capture
            averages.offensive = averages.high * 3 - averages.hmiss * 0.5 + averages.low * 1 - averages.lmiss * 0.1
          </pre>

          <table>
            <tr>
              <th style='padding: 0 1em 0 1em;' ng-click='setOrder("teamNumber")'>#</th>
              <th style='padding: 0 1em 0 1em;' ng-click='setOrder("teamName")'>Name</th>
              <th style='padding: 0 1em 0 1em;' ng-click='setOrder("avg.defensive")'>Offensive Rating</th>
              <th style='padding: 0 1em 0 1em;' ng-click='setOrder("avg.offensive")'>Defensive Rating</th>
            </tr>

            <tr ng-repeat='team in _teams | orderBy:order:reverse'>
              <td align="center">
                {{team.teamNumber}}
              </td>
              <td ng-click='setPath("/team/"+team.teamNumber)'>
                {{team.teamName}}
              </td>
              <td align="center">
                {{team.avg.defensive}}
              </td>
              <td align="center">
                {{team.avg.offensive}}
              </td>
            </tr>
          </table>
        </md-content>
      </md-tab>
    </md-tabs>

  </md-card>

</section>